body{
    background-color: rgb(244, 244, 244);
}

/* nav{
    background-color: white;
} */

.box{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media screen and (max-width: 700px){
    .box{
        width: 80%;
    }

    .error{
        width: 80%;
    }
}

.error{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

#submit-button{
    width: 105px;

}

.spinner-border{
    margin-right: 2px;
}

#display{
    padding-top: 20px;
    text-align: center;
    width: 90%;
    margin: auto;
}

.title{
    padding-top: 100px;
    text-align: center;
    width: 90%;
    margin: auto;
}

.result{
    font-size: 42px;
    padding-left: 2px;
}

